extends layout

block content
  div(class="container-fluid")
  h1= title
  - let results=[{name:"Klara and the Sun",author:"Kazuo Ishiguro",price:20.59},{name:"The Four Winds",author:"Kristin Hannah",price:17.39},{name:"Detransition, Baby",author:"Torrey Peters",price:23.99}] 
  div(class="row")
    each form,index in results
        div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.name}
        div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.author}
        div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }